* {
  box-sizing: border-box;
}

body {
  background-color: #333745
}

.container {
  width: 960px;
  border-radius: .5em;
  box-shadow: 0 0 10px black;
  margin: auto;
  background-color: #EEF5DB;
}

nav {
  width: 960px;
  margin: auto;
  background-color: #E63462;
  color: white;
  border-radius: .5em;
  box-shadow: 0 0 10px black;
}

.links {
  width: 70%;
  line-height: 100%;
  text-align: left;
  display: inline-block;

}

nav form {
  line-height: 100%;
  display: inline-block;
  float: right;
}

.navlink {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  background-color: black;
  border-radius: .5em;
  width: 20%;
  margin: 2% .5%;
  text-align: center;
}

nav a {
  line-height: 100%;
  font-size: 20px;
  line-height: 100%;
  color: white;
}

h1 {
  text-align: center;
}
