* {
  box-sizing: border-box;
}

p, li {
  font-family: 'Droid Sans', sans-serif;
}

body {
  background-color: #FAFAFA;
}

.container {
  max-width: 650px;
  margin: 77px auto 0 auto;
  position: relative;
}

nav {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.095);
  height: 77px;
  z-index: 1;
}

#home-div {
  display: inline-block;
  height: 100%
}

#home-div a {
  line-height: 77px;
}

.links {
  display: inline-block;
  float: right;
  height: 100%;
}

.home-link {
  margin-left: 20px;
}

.links a {
  line-height: 77px;
  margin-right: 20px;
}

nav a {
  color: black;
}

nav form {
  width: 30%;
  display: inline-block;
  margin-left: 38%;
}

#search-field {
  border: solid 1px #DBDBDB;
  border-radius: 3px;
  width: 60%;
  min-width: 125px;
  height: 30px;
  background-color: #fafafa;
  text-align: center;
  font-family: 'Droid Sans', serif;
}

#search-field:focus {
  background-color: white;
  text-align: left;
  outline-width: 0;
}



#search-button {
  display: none;
}


/* *******************************************

    STYLING FOR PAGES#HOME (HOME.HTML.ERB)

   ******************************************* */

h1 {
  font-family: 'Open Sans', serif;
  text-align: center;
}

.post {
  background-color: #FFFFFF;
  border-radius: .2em;
  margin: 10px;
  box-shadow: 0 0 2px black;
  padding: 10px;
}

.comment-text-field {
  border: none;
  width: 100%;
  font-family: 'Droid Sans', serif;
}

.comment-text-field:focus {
  outline-width: 0;
}

.comment-button {
  display: none;
}
